.services{ 
display: flex;
justify-content: space-evenly; 
padding: 6rem;
flex-wrap: wrap;
  &__item{
    background-color: $primary-color;
    max-width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
      &--img{
        max-width: 150px;
      }
      &--p{
        color: $pale-color;
      }
  }
 
}
